#cal-container {
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  max-width: 80%;
  margin: 20px auto;

  #cal-header {
    border-bottom: 2px solid black;
    div {
      float: left;
      width: 80%;
      margin: auto;
      background-color: blue;
      color: white;
      text-align: center;
      line-height: 46px;
    }

    button {
      float: left;
      width: 10%;
      line-height: 40px;
    }
  }

  #cal-day-header {
    display: flex;
    border: 2px solid black;
    background-color: red;
    justify-content: space-around;

    .day-name {
      color: white;
      float: left;
    }
  }

  .cal-week {
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: space-around;

    .day-container {
      padding: 0 10px;
      max-width: 11%;
      display: inline-block;

      .cal-day {
        height: 150px;
      }
    }
  }

  .selected {
    color: red;
  }

  .is-today {
    color: blue;
  }

  .inactive-month {
    color: gray;
  }
}
