.bcc-events {
  ul {
    background-color: #d9d9f3;
    margin: 0;
    max-width: 100%;
    padding: 0;
  }

  li {
    font-size: x-small;
    list-style-type: none;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
  }
}
